<app-navigation-bar header="About"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row">
            <h2>Mooo Air Gapped Wallet</h2>
            <p>Open Source PSBT (Partially Signed Bitcoin Transactions) signer for Bitcoin.</p>
            <p>Main futures :</p>
            <ul class="browser-default">
                <li>Electrum compatible</li>
                <li>Multiple accounts creation</li>
                <li>Generate Native Segwit accounts</li>
                <li>Generate Segwit Compatible accounts</li>
                <li>QR codes to fully manage private keys in an air gapped fashion</li>
            </ul>
            <p>Use at your own risk.</p>
            <p>Check the source code, report issues and contribute to this project via <a
                    href="https://github.com/youssefgh/mooo-air-gapped-wallet">Github</a> </p>
        </div>
    </div>
</main>