<app-navigation-bar header="Sign PSBT"></app-navigation-bar>

<main>
    <div class="container">
        <div *ngIf="!psbt" class="row">
            <div class="center-align">
                <app-qr-code-reader (created)="onQrReaderCreated($event)"
                    (scanned)="onQrScan($event)"></app-qr-code-reader>
            </div>
        </div>
        <div *ngIf="psbt" class="row">
            <div class="center-align">
                <h4>Sending :</h4>
                <h5 *ngFor="let walletDestination of psbtTransactionDetails.walletDestinationList"
                    style="word-wrap: break-word">
                    <span class="green-text">{{walletDestination.amount}} BTC</span>
                    =>
                    <span style="text-decoration: underline;">{{walletDestination.address}}</span>
                    <span *ngIf="walletDestination.change" class="new badge orange" data-badge-caption="Change"></span>
                </h5>
            </div>
        </div>
        <div *ngIf="signResult?.signedTransaction" class="row">
            <div class="center-align">
                <h5>Fee:
                    <span class="red-text">
                        {{psbtTransactionDetails.fee}} sat ({{psbtTransactionDetails.feeRate}} sat/vB)
                    </span>
                </h5>
            </div>
        </div>
        <div *ngIf="psbt && !signResult" class="row">
            <div class="center-align">
                <div class="btn" (click)="sign()">
                    <i class="material-symbols-outlined left">fingerprint</i>
                    Sign
                </div>
            </div>
        </div>
        <div *ngIf="selectedQrList" class="row">
            <div class="center-align">
                <h5 *ngIf="signResult.signedTransaction">Signed transaction :</h5>
                {{signResult.threshold}}
                {{signResult.signatureCount}}
                <h5
                    *ngIf="signResult.psbtBase64 && signResult.threshold && signResult.signatureCount < signResult.threshold">
                    Psbt ({{signResult.signatureCount}} of {{signResult.threshold}} signed) :
                </h5>
                <h5 *ngIf="signResult.psbtBase64 && !signResult.threshold">
                    Psbt ({{signResult.signatureCount}} of ? signed) :
                </h5>
                <app-qr-code [value]="selectedQrList" style="width: 90vw"></app-qr-code>
            </div>
        </div>
    </div>
    <div *ngIf="urDecoder.expectedPartCount() > 0" class="progress" style="bottom: 0; position: fixed;">
        <div class="determinate" [style.width.%]="urDecoder.getProgress()*100"></div>
    </div>
</main>