<app-navigation-bar header="Account"></app-navigation-bar>

<main>
    <div class="container">
        <div class="row">
            <div class="center-align">
                <h2>{{selectedWalletAccount.name}}</h2>
            </div>
        </div>
        <ul class="collapsible" style="margin-left: -4vw;margin-right: -4vw;">
            <li>
                <div class="collapsible-header"><i class="material-icons">qr_code</i>Taproot</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="center-align">
                            <h3>Descriptor</h3>
                            <app-qr-code [value]="bip86Descriptor"></app-qr-code>
                            <h6 style="word-wrap: break-word">{{bip86Descriptor}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align">
                            <h3>Extended public key</h3>
                            <app-qr-code [value]="bip86ExtendedPublicKey"></app-qr-code>
                            <h6 style="word-wrap: break-word">{{bip86ExtendedPublicKey}}</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">qr_code</i>Native Segwit</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="center-align">
                            <h3>Descriptor</h3>
                            <app-qr-code [value]="bip84Descriptor"></app-qr-code>
                            <h6 style="word-wrap: break-word">{{bip84Descriptor}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align">
                            <h3>Extended public key</h3>
                            <app-qr-code [value]="bip84ExtendedPublicKey"></app-qr-code>
                            <h6 style="word-wrap: break-word">{{bip84ExtendedPublicKey}}</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngIf="showBip49">
                <div class="collapsible-header"><i class="material-icons">qr_code</i>Compatibility Segwit</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="center-align">
                            <h3>Descriptor</h3>
                            <app-qr-code [value]="bip49Descriptor"></app-qr-code>
                            <h6 style="word-wrap: break-word">{{bip49Descriptor}}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align">
                            <h3>Extended public key</h3>
                            <app-qr-code [value]="bip49ExtendedPublicKey"></app-qr-code>
                            <h6 style="word-wrap: break-word">{{bip49ExtendedPublicKey}}</h6>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>